.error-mes{
    color:#F90;
}
#formlogin a:hover, #formlogin a:active{
    color:#F90;
}
 .submit-btn{
   background:#ccc;
   color:#fff;
   border-radius: 4px;
   height: 36px;
   line-height: 36px;
   box-shadow: none;
   border:none;
   width: 100px;
}
 .submit-btn:hover{
    background:#F90;
 }
 .add-address>div>span{
     padding-right: 30px;
     display:inline-block;
     width: 200px;
     height: 40px;
     line-height: 40px;
 }